@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "./mixins.scss";

@mixin makeCard($color, $bgColor) {
  border: none;
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: $bgColor;

  .card-title {
    display: block;
    font-weight: bold;
    color: $color;
  }

  a.card-title {
    transition: all 200ms ease-in-out;

    &:hover {
      text-decoration: none;
      color: darken($color, 30);
    }
  }

  .card-text {
    @include font-size($small-font-size);
    font-weight: $font-weight-normal;
    color: $color;
  }
}

.advert {
  @include makeCard($dark, $light);

  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.post {
  @include makeCard($dark, $white);
  box-shadow: $box-shadow;
}

.tile {
  @include makeCard($white, $dark);
  box-shadow: $box-shadow;
  display: inline-block;
  width: 180px;
  height: 180px;
  min-width: 180px;
  min-height: 180px;
  background-color: $dark;
  margin: 1rem 1rem 2rem 1rem;
  padding: 0px 0px 0px 0px;

  .tile-overlay {
    @include overlay();
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-img {
    height: 100%;
    width: auto;
  }
}

/**
*
* Card Image
*
*
*/

.card-img-avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin: 2rem auto 0rem auto;

  + .card-body .card-title {
    text-align: center;
  }
}

/**
*
* Card Footer
*
*
*/
.card-footer {
  background-color: inherit;
}

.card-columns.post-list {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
}

.card-listing {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  @include media-breakpoint-down(md) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
